{% extends "base.html" %} 
{% block title %}Analytics{% endblock %} 
{% block content %}
<br>
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <h1>Analytics</h1>
</head>

<br>

<div class="analytics-container">
    <div class="graph-analytics">
        <h2>Weight</h2>
        <img src="{{ graph_data }}" alt="Graph">
    </div>
    <div class="graph-analytics">
        <h2>Strength</h2>
        <img src="{{ graph_data }}" alt="Graph">
    </div>
    
  

    

</div>
    
    
{% endblock %}