{% extends "base.html" %} 
{% block title %}Analytics{% endblock %} 
{% block content %}
<br>
<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <div class="header-container">
        <h1>Analytics</h1>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                // marked events
                events: {{ events | tojson | safe }} // Pass the events JSON here
            });
            calendar.render();
        });
    </script>
</head>


<body>
    <div class="analytics-container">

        <div class="graph-analytics">
            <h2>Weight</h2>
            <img src="{{ graph_data }}" alt="Graph">
        </div>

        <div class="graph-analytics">
            <h2>Strength</h2>
            <img src="{{ graph_data }}" alt="Graph">
        </div>


        <div class="calendar-analytics">
            <div id='calendar'></div>
        </div>
        

    </div>

</body>


{% endblock %}
