{% extends "base.html" %} 
{% block title %}Analytics{% endblock %} 
{% block content %}
<br>
<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <div class="header-container">
        <h1>Analytics</h1>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                // marked events
                events: {{ events | tojson | safe }} // Pass the events JSON here
            });
            calendar.render();
        });
    </script>
</head>


<body>
    <div class="analytics-container">

        <div class="calendar-analytics">
            <div id='calendar'></div>
        </div>

        

        <div class="dashboard-container-analytics">  
            <h2>Nutrition guide:</h2>
            <br>
            <div class="quickstats">
                <!-- weekly workout count / goal -->
                According to your weight goal of: 
                <span class="colored-text">
                    {{ user.user_info.weightGoal }}
                </span>,
                <br>
                you should look to intake a daily amount calories 
                
    
                {% if user.user_info.weightGoal == 'Lose' %}
                    <span class="colored-text">
                        <br> lower than: ~{{ maintCals }}
                    </span>
                {% elif user.user_info.weightGoal == 'Maintain' %}
                    <span class="colored-text">
                        <br> around: ~{{ maintCals }}
                    </span>
                {% elif user.user_info.weightGoal == 'Gain' %}
                    <span class="colored-text">
                        <br> above: ~{{ maintCals }}
                    </span>
                {% endif %}


                <br><br>
                at 
                <span class="colored-text">
                    {{ current_weight }} lbs
                </span> 
                you should consume an estimated 
                <br> .7g of protein per lb:
                <span class="colored-text">
                    {{ recProtein }} g
                </span>

            </div>

            <br><br>
            <div class="quickstats">
                <img src="{{ graph_data }}" alt="Graph">
            </div>
            
            
        </div>

        

    </div>

</body>


{% endblock %}

<!--according to your caloric maintenance
    and your weight goal of: {weightGoal}

    you should look to intake a daily amount calories
    above lower around:
    {maintCals}

    at {weight}
    you should consume an estimated .7g of protein per lb
    {recProtein}

    -->
