{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<br>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <h1>Login</h1>
</head>
<body></body>
<div class="centered-form">
    <form method="POST">
        <div class="form-group">
            
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter email"
            />
        </div> <!-- Close the first form-group div here -->
        
        <br>

        <!-- Open a new form-group div for the password field -->
        <div class="form-group">
            
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password" 
                placeholder="Enter password"
            />
        </div>
        
        <br />

        <div class="centered-content">
            <button type="submit" class="btn btn-custom">Login</button>
        </div>

    </form>
</div>
{% endblock %}