{% extends "base.html" %} 
{% block title %}Weight Tracker{% endblock %} 
{% block content %}
<br>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <h1>Weight Tracker</h1>
</head>
<body>
  <br>
  <div class="weight-tracker">
    <ul class="list-group list-group-flush center-list" id="weights">
      {% for weight in user.weightLog %}
      <li class="list-group-item weight-item">
        {{ weight.data }}, {{ weight.date.strftime("%Y-%m-%d") }}
        <button type="button" class="close" onClick="deleteWeight({{ weight.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>

    <br>
    <form method="POST">
      <label for="weight">Enter Weight:</label>
      <input type="text" name="weight" id="weight" class="form-control weight-item" required pattern="[0-9]+">
      
      <label for="selected-date">Select a past date(optional):</label>
      <input type="date" name="selected-date" id="selected-date" class="form-control date-item">

      <br />
      <button type="submit" class="btn btn-custom">Add weight</button>
    </form>
  </div>
</body>
{% endblock %}
