{% extends "base.html" %} 
{% block title %}Workout Log{% endblock %} 
{% block content %}
<br>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <h1>Workout Log</h1>

  <script src="index.js"></script>
</head>
<body>

  <div class="centered-content">
    <button class="btn btn-custom" id="openModalButton"> New workout </button>
  </div>

  <div class="workout-log-page">
  <!-- Display recent workouts -->
    <h2>Recent workouts:</h2>

    <div class="workout-wrapper">
      {% for workout in user.workoutLog %}
      <div class="workout-container">
        <div class="workout-header">
          {{ workout.date.strftime("%m/%d") }}, {{ workout.name }}
        </div>
        <div class="exercise-list">
          {% for exercise in workout.exercises %}
            <div class="exercise-item">
              {{ exercise.name }}: {{ exercise.sets }} for {{ exercise.reps }}
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
      


  <br>
  
  <!-- Workout modal form -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalButton">&times;</span>
          
      <div>
        <form method="POST">
          
          <label for="selected-date">Date</label>
          <input type="date" name="selected-date" id="selected-date" class="form-control date-item">

          <br>
          <label for="name">Workout title</label>
          <input type="text" name="name" id="name" class="form-control name-item" pattern="[A-Za-z0-9]+">

          <!-- exercise format -->
          <br>
          <div class="exercise-table">
            <table id="exerciseTable">
              <thead>
                <tr>
                  <th>Exercise</th>
                  <th>Sets</th>
                  <th>Reps</th>
                </tr>
              </thead>
            </table>
          </div>


          <!-- list exercises submitted  -->
          <br>
          <div class="exercise-form">

            <div id="exerciseRows">
              <!-- Initially, there is no row -->
            </div>

            <div class="centered-content">
              <button type="button" id="addButton">Add Exercise</button>
            </div>

          </div>


          <br>
          <br>
          <div class="centered-content">
            <button type="submit" class="btn btn-primary">Add workout</button>
          </div>
        </form>
      </div>

    </div>
  </div>


  </div>
</body>
{% endblock %}





<!-- create a workout, dynamically add exercises to it

select date
select workout type: upper, lower, cardio, custom
list exercises depending workout type



add exercise = new exercise{name, sets, reps}
submit = new workout{date, title, type, exercises[]}



each user has a list of workouts


exercise list:
1. when a user adds a new exercise, add this exercise to a global exercise list
2. import an external list of exercises, and loop through it for the form field dropdown menu
  -dropdown menu? search bar?

3. create a workout w/ title, date
  -entry is added 


4. api?


TODO:
-work on the dynamic form/layout
-implement exercise api
-link to db
-display added workouts
-->
