{% extends "base.html" %} 
{% block title %}Workout Log{% endblock %} 
{% block content %}
<br>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <h1>Workout Log</h1>

  <script src="index.js"></script>
</head>
<body>

  <div class="centered-content">
    <button class="btn btn-custom" id="openModalButton"> New workout </button>
  </div>

  <div class="workout-log-page">
  <!-- Display recent workouts -->
    <h2>Recent workouts:</h2>

    <div class="workout-wrapper">
      {% for workout in user.workoutLog %}
      <div class="table-container">
        <table id="exerciseTable" class="custom-table">
          <caption class="table-caption">
            <i class="fa-solid fa-calendar-days"></i>
            {{ workout.date.strftime("%m/%d") }}
            &nbsp; &nbsp;
            <i class="fa-solid fa-dumbbell"></i>
            {{ workout.name }}
            <button class="delete-button" onclick="deleteWorkout({{ workout.id }})">&times;</button>
          </caption>
            <thead>
              <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
              </tr>

            </thead>

            <tbody id="exerciseTableBody">
              {% for exercise in workout.exercises %}
                <tr>
                  <td>{{ exercise.name }}</td>
                  <td>{{ exercise.sets }}</td>
                  <td>{{ exercise.reps }}</td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
      </div>
      {% endfor %}
      
    </div>

  <br>
  <!-- Workout modal form -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalButton">&times;</span>
          
      <div>
        <form method="POST">
          
          <label for="selected-date">Date</label>
          <input type="date" name="selected-date" id="selected-date" class="form-control date-item" required>

          <br>
          <label for="name">Workout title</label>
          <input type="text" name="name" id="name" class="form-control name-item" pattern="[A-Za-z0-9 ]+" required>

          <!-- exercise format -->
          <br>
          <div class="exercise-table">
            <table id="exerciseTable">
              <thead>
                <tr>
                  <th>Exercise</th>
                  <th>Sets</th>
                  <th>Reps</th>
                </tr>
              </thead>
            </table>
          </div>


          <!-- list exercises submitted  -->
          
          <div class="exercise-form">

            <div id="exerciseRows">
              <!-- Initially, there is no row -->
            </div>

            <div class="centered-content">
              <button type="button" class="add-button" id="addButton">Add Exercise</button>
              <button type="button" class="add-button" id="addCardioButton">Add Cardio Exercise</button>
            </div>

          </div>


          <br>
          <br>
          <div class="centered-content">
            <button type="submit" class="btn btn-custom">Submit As New Workout</button>
          </div>
        </form>
      </div>

    </div>
  </div>


  </div>
</body>
{% endblock %}



