.weight-tracker {
    text-align: center;
    /* Optionally, you can add margin and padding for better alignment */
    margin: 0 auto;
    padding: 15px; /* Adjust the value as needed */
    max-width: 300px;
    border: 2px solid #000000;
    background-color: rgb(255, 255, 255);
  }

  h1 {
    text-align: center;
  }

  .weight-graph-home {
    
    width: calc(33.33% - 10px); /* Adjust the width and any spacing as needed */
    margin: 5px; /* Add spacing between the divs */
    background-color: #f0f0f0; /* Background color for the divs */
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
      
  }

  .graph-analytics {
    
    width: calc(50% - 10px); /* Adjust the width and any spacing as needed */
    margin: 5px; /* Add spacing between the divs */
    background-color: #f0f0f0; /* Background color for the divs */
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
      
  }

  .home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  .weight-graph-home img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
  }

  .graph-analytics img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
  }

  .analytics-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  .content-container{
    background-color: rgb(139, 140, 140);
    background-size: cover;
  }

  body {
    background-color: rgb(139, 140, 140);
    background-size: cover;
}

.navbar .navbar-nav .nav-item.nav-link {
  color: #00bfff; /* Set the text color to red (#FF0000) */
}

.workout-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workout-container {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #000000;
  padding: 10px;
  box-sizing: border-box;
}

.workout-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.exercise-list {
  display: flex;
  flex-direction: column;
}

.exercise-item {
  margin-bottom: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-height: 80%; /* Set maximum height for the modal */
  overflow-y: auto; /* Enable vertical scrolling */
}

.workout-log-page {
  padding: 20px;
}


.modal-content .close {
  text-align: right;
}

.exercise-form {
  border: 1px solid #ccc; /* Border for visual separation */
  padding: 20px; /* Adjust padding for space around form */
}

.exercise-form .form-group {
  margin-bottom: 15px; /* Space between form groups */
}

.exercise-form label {
  display: block; /* Display labels as blocks */
  margin-bottom: 5px; /* Space between labels and inputs */
}

.form-group {
  margin: 0 10px; /* Adjust the horizontal margin as needed */
}

.centered-content {
  text-align: center;
}

.btn-custom {
  background-color: #00bfff; 
  color: white;
}

.exercise-table {
  margin-top: 20px;
}

#exerciseTable {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table header */
#exerciseTable th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.exerciseRow input[type="text"] {
  display: inline-block;
  margin-bottom: 5px;
  width: calc(43% - 10px); /* Set a wider width for the exercise name field */
  padding: 8px;
  box-sizing: border-box;
}

.exerciseRow input[type="number"] {
  display: inline-block;
  margin-bottom: 5px;
  width: calc(27% - 10px); /* Set a narrower width for sets and reps fields */
  padding: 8px;
  box-sizing: border-box;
}

.exerciseRow button {
  padding: 6px 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

