.weight-tracker {
  padding: 15px;
  max-width: 300px;
  border: 2px solid #000000;
  background-color: rgb(255, 255, 255);
  max-height: 550px; /* Adjust the value as needed */
  min-height: 550px;
  overflow-y: auto;
}

#home {
  color: white; /* Change this color to the color you want */
  background-color: #202020;
  border-radius: 12px;
  outline: .5px solid rgb(118, 118, 118);
}

  h1 {
    text-align: center;
    color: white;
    /* text-decoration: underline; */
    text-decoration-thickness: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h2 {
    color: white;
  }

  .navbar-nav .nav-item.nav-link:hover {
    background-color: #343a40 !important; /* Change to your desired highlight color */
    color: #ffffff !important; /* Change to the text color you prefer */
  }

  .header-container {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Centers the container */
    /* background-color: black; */
    padding: 5px;
    border-radius: 10px;
  }

  .weightpage-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 5px; /* Gap between items */
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.colored-text {
  color:#00bfff;
}

.quickstats {
  color:white;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.2); /* Adjust alpha (4th value) for transparency */
  padding: 10px; /* Add padding for better appearance */
  border-radius: 8px; /* Add rounded corners */
}

.profile-container {
  text-align: center;
  color: white;
}

.profile-info img {
  width: 150px; /* Set the width of the image */
  height: 150px; /* Set the height of the image */
  border-radius: 50%; /* Apply a circular border radius for a rounded shape */
  object-fit: cover; /* Ensure the image covers the entire area */
  border: 2px solid #00bfff; /* Optional: Add a border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}

.weightgraph-container img {
  border: 1px solid #000;
  max-width: 100%; /* Adjust the maximum width to fit the container */
  height: auto; /* Maintain aspect ratio */
}

.centered-form {
  /* Additional styling for the form */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container img {
  max-width: 100%; /* Adjust the maximum width to fit the container */
  height: auto; /* Maintain aspect ratio */
}

.dashboard-container {
  position: relative;
  color: #00bfff;
  width: calc(30% - 20px); /* Adjust the width and any spacing as needed */
  margin: 10px; /* Adjust the spacing between the divs */
  background-color: rgba(62, 68, 71, 0.5);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.workout-list {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  display: flex;
  flex-direction: column; /* Display items in a column */
  align-items: center; /* Center items horizontally */
}

.workout-list li {
  background-color: #202020; /* Set background color */
  padding: 10px; /* Add padding */
  margin-bottom: 5px; /* Add spacing between items */
  min-width: 40%;
  max-width: 70%;
  border: 1px solid #666; /* Add border with a color of your choice */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

  .weightgraph-container {
    position: relative;
    color:#000000;
    margin: 5px; /* Add spacing between the divs */
    background-color: #3e4447; /* Background color for the divs */
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
    border-radius: 8px; /* Adjust the value as needed */
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1); 
    text-align: center;  
  }

  .expand-button {
    position: absolute;
    top: 10px; /* Adjust top position */
    right: 10px; /* Adjust left position */
    z-index: 1; /* Ensure it appears above other content */
    /* Add styling properties (e.g., background color, padding, etc.) */
    background-color: transparent;
    color: white;
    border:none;
  }

  .graph-analytics {
    
    position: relative;
    color:#00bfff;
    width: calc(25% - 10px); /* Adjust the width and any spacing as needed */
    margin: 5px; /* Add spacing between the divs */
    background-color: #3e4447; /* Background color for the divs */
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
    border-radius: 8px; /* Adjust the value as needed */
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);     
      
  }

  .calendar-analytics {
    
    position: relative;
    color:#00bfff;
    width: calc(30% - 10px); /* Adjust the width and any spacing as needed */
    margin: 5px; /* Add spacing between the divs */
    background-color: #3e4447; /* Background color for the divs */
    padding: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
    border-radius: 8px; /* Adjust the value as needed */
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);     
      
  }

  .dashboard-container-analytics {
    position: relative;
    color: #00bfff;
    width: calc(30% - 20px); /* Adjust the width and any spacing as needed */
    margin: 10px; /* Adjust the spacing between the divs */
    background-color: rgba(62, 68, 71, 0.5);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .weight-graph-home img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
  }

  .graph-analytics img {
     /* Adjust image sizing properties as needed */
  width: 100%; /* Set the image to fill its container */
  height: auto; /* Maintain the image's aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  display: block; /* Ensure proper rendering as a block-level element */
  }
  

  .analytics-container{
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 5px; /* Gap between items */
  }

  #calendar {
    margin-top: 20px; /* Adjust as needed */
    background-color: #656565; /* Set a background color */
    border: 1px solid #000000; /* Add a border */
    color: #000000;
  }
  
  
  .fc-dayGridMonth-view {
    background-color: #fff; /* Set a different background color for the month view */
  }


  body {
    background-color: rgb(59, 58, 58);
    background-size: cover;
    font-family: Optima, sans-serif;
}

.navbar .navbar-nav .nav-item.nav-link {
  color: #00bfff; /* Set the text color to red (#FF0000) */
}

.workout-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workout-container {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #000000;
  padding: 10px;
  box-sizing: border-box;
}

.workout-header {
  font-weight: bold;
  margin-bottom: 10px;
}


.exercise-list {
  display: flex;
  flex-direction: column;
}

.exercise-item {
  margin-bottom: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #e2eaef;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-height: 80%; /* Set maximum height for the modal */
  overflow-y: auto; /* Enable vertical scrolling */
}

.form-control {
  max-width: 50%;
}

.workout-log-page {
  padding: 20px;
}


.modal-content .close {
  text-align: right;
}

.exercise-form {
  border: 1px solid #ccc; /* Border for visual separation */
  padding: 20px; /* Adjust padding for space around form */
  background-color: rgb(241 241 241);
}

.exercise-form .form-group {
  margin-bottom: 15px; /* Space between form groups */
}

.exercise-form label {
  display: block; /* Display labels as blocks */
  margin-bottom: 5px; /* Space between labels and inputs */
}



.form-group {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center;
  margin-bottom: 10px;
  color: white;
}


.centered-content {
  text-align: center;
}

.btn-custom {
  background-color: #00bfff; 
  color: white;
}

.exerciseRow input[type="text"] {
  display: inline-block;
  margin-bottom: 5px;
  width: calc(40% - 10px); /* Set a wider width for the exercise name field */
  padding: 8px;
  box-sizing: border-box;
}

.exerciseRow input[type="number"] {
  display: inline-block;
  margin-bottom: 5px;
  width: calc(18% - 10px); /* Set a narrower width for sets and reps fields */
  padding: 8px;
  box-sizing: border-box;
}

.exerciseRow button {
  padding: 6px 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

/* Style for table header */
#exerciseTable th {
  background-color: #dcdada;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

#exerciseTable th:nth-child(1) {
  width: 40%;
}

#exerciseTable th:nth-child(2),
#exerciseTable th:nth-child(3),
#exerciseTable th:nth-child(4) {
  width: 15%;
}

.workout-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28%, 1fr)); /* Three tables per row */
  gap: 10px; /* Adjust the gap between tables as needed */
}

.table-container {
  position: relative; /* Set the parent container as relative */
  display: inline-block; /* Ensures that the container doesn't take full width */
  margin-bottom: 20px; /* Adds spacing between tables if needed */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px; /* Adjust the gap between table containers */
}

/* Style for table body */
#exerciseTableBody td {
  border: 1px solid #000000;
  padding: 8px;
  background-color: white;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 8px; /* Adjust the value as needed */
  overflow: hidden;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.table-caption {
  text-align: center;
  caption-side: top;
  background-color: #3e4447;
  border: 1px solid black;
  color: #00bfff;
}

.exercise-table {
  margin-top: 20px;
}

#exerciseTable {
  width: 100%;
  border-collapse: collapse;
}

.add-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #4CAF50; /* Green border */
  color: #fff;
  background-color: #4CAF50; /* Green background */
  border-radius: 5px;
  transition: all 0.3s ease;
}

.removeButton {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #FF6347; /* Red border */
  color: #FF6347; /* Red text color */
  background-color: transparent; /* Transparent background */
  border-radius: 50%; /* Makes the button circular */
  transition: all 0.3s ease;
}

.favorite-button {
  background-color: transparent;
  border: none;
  color: rgb(237, 229, 66);
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 30px; /* Adjust top position as needed */
  right: 34px; /* Adjust right position as needed */
}

.delete-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position as needed */
}


